@import url('https://fonts.googleapis.com/css?family=Roboto:500');


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: navy;
    padding: 1em;
}

.header a {
    margin: 0 10px;
    color: lightskyblue;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: lightblue;
}

html, body {
    margin: 0;
}

form button {
    font-size: 24px;
    margin-top: 1em;
}

fieldset {
    border: none;
}

form {
    padding: 1em;
}

.student-card {
    padding: 1em;
    background-color: white;
    margin: 1em;
}


div .landing-title {
    text-align: center;
}

/*label .update-labels {*/
    /*width: 180px;*/
    /*clear: left;*/
    /*text-align: right;*/
    /*padding-right: 10px;*/
/*}*/

/*fieldset {*/
    /*box-sizing: border-box;*/
    /*padding: 25px 50px 75px 100px;*/
/*}*/
